USE [CinemaDW]
GO
/****** Object:  Table [dbo].[Dim_Datum]    Script Date: 24. 12. 2020. 00:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Datum](
	[id] [int] NOT NULL,
	[datum] [date] NOT NULL,
	[dan] [int] NOT NULL,
	[imeDana] [varchar](20) NOT NULL,
	[danSkraceno] [varchar](5) NOT NULL,
	[danUSedmici] [int] NOT NULL,
	[danUTromjesecu] [int] NOT NULL,
	[danUGodini] [int] NOT NULL,
	[sedmica] [int] NOT NULL,
	[mjesec] [int] NOT NULL,
	[imeMjeseca] [varchar](20) NOT NULL,
	[kvartal] [int] NOT NULL,
	[godina] [int] NOT NULL,
 CONSTRAINT [PK_Dim_Datum] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Dim_Datum] ([id], [datum], [dan], [imeDana], [danSkraceno], [danUSedmici], [danUTromjesecu], [danUGodini], [sedmica], [mjesec], [imeMjeseca], [kvartal], [godina]) VALUES (20190101, CAST(N'2019-01-01' AS Date), 1, N'Utorak', N'Uto', 2, 1, 1, 1, 1, N'Januar', 1, 2019)
INSERT [dbo].[Dim_Datum] ([id], [datum], [dan], [imeDana], [danSkraceno], [danUSedmici], [danUTromjesecu], [danUGodini], [sedmica], [mjesec], [imeMjeseca], [kvartal], [godina]) VALUES (20190102, CAST(N'2019-01-02' AS Date), 2, N'Srijeda', N'Sri', 3, 2, 2, 1, 1, N'Januar', 1, 2019)
INSERT [dbo].[Dim_Datum] ([id], [datum], [dan], [imeDana], [danSkraceno], [danUSedmici], [danUTromjesecu], [danUGodini], [sedmica], [mjesec], [imeMjeseca], [kvartal], [godina]) VALUES (20190103, CAST(N'2019-01-03' AS Date), 3, N'Cetvrtak', N'Cet', 4, 3, 3, 1, 1, N'Januar', 1, 2019)
GO
