USE [CinemaDW]
GO
/****** Object:  Table [dbo].[Dim_Datum]    Script Date: 17. 12. 2020. 14:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Datum](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dan] [int] NOT NULL,
	[mjesec] [varchar](20) NOT NULL,
	[godina] [int] NOT NULL,
	[sedmica] [int] NOT NULL,
	[datum] [date] NOT NULL,
	[imeMjeseca] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Film]    Script Date: 17. 12. 2020. 14:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Film](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [varchar](128) NULL,
	[zanrSifra] [nchar](32) NULL,
	[trajanjeUMinutama] [int] NULL,
	[minimumGodina] [int] NULL,
	[je3D] [bit] NULL,
	[jeSinhronizovan] [bit] NULL,
	[jeTitlovan] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Karta]    Script Date: 17. 12. 2020. 14:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Karta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cijena] [int] NOT NULL,
	[jeIskoristena] [bit] NOT NULL,
	[sala] [varchar](20) NOT NULL,
	[jeNocnaProjekacija] [bit] NOT NULL,
	[jeRezervisana] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Kino]    Script Date: 17. 12. 2020. 14:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Kino](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[vrijemeOtvaranja] [int] NOT NULL,
	[vrijemeZatvaranja] [int] NOT NULL,
	[brojSala] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Racun]    Script Date: 17. 12. 2020. 14:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Racun](
	[id] [int] NOT NULL,
	[kartaId] [int] NOT NULL,
	[datumId] [int] NOT NULL,
	[korisnikId] [int] NOT NULL,
	[kinoId] [nchar](10) NULL,
	[filmId] [int] NOT NULL,
	[tipPlacanjaSifra] [nchar](32) NOT NULL,
	[ukupnaCijenaNarudzbi] [int] NOT NULL,
	[cijenaKarte] [int] NOT NULL,
	[ukupnaCijena] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Fact_Racun]  WITH CHECK ADD FOREIGN KEY([datumId])
REFERENCES [dbo].[Dim_Datum] ([id])
GO
ALTER TABLE [dbo].[Fact_Racun]  WITH CHECK ADD FOREIGN KEY([filmId])
REFERENCES [dbo].[Dim_Film] ([id])
GO
ALTER TABLE [dbo].[Fact_Racun]  WITH CHECK ADD FOREIGN KEY([filmId])
REFERENCES [dbo].[Dim_Film] ([id])
GO
ALTER TABLE [dbo].[Fact_Racun]  WITH CHECK ADD FOREIGN KEY([kartaId])
REFERENCES [dbo].[Dim_Karta] ([id])
GO
