USE [CinemaDW]
GO
/****** Object:  Table [dbo].[Dim_Datum]    Script Date: 22. 12. 2020. 17:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Datum](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dan] [int] NOT NULL,
	[mjesec] [varchar](20) NOT NULL,
	[godina] [int] NOT NULL,
	[sedmica] [int] NOT NULL,
	[datum] [date] NOT NULL,
	[imeMjeseca] [varchar](20) NOT NULL,
	[tromjesece] [int] NOT NULL,
 CONSTRAINT [PK__Dim_Datu__3213E83F379EE422] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Film]    Script Date: 22. 12. 2020. 17:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Film](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[zanrSifra] [varchar](32) NOT NULL,
	[zanrNaziv] [varchar](32) NOT NULL,
	[naziv] [varchar](128) NOT NULL,
	[trajanjeUMinutama] [int] NOT NULL,
	[minimumGodina] [int] NOT NULL,
	[je3D] [bit] NOT NULL,
	[jeSinhronizovan] [bit] NOT NULL,
	[jeTitlovan] [bit] NOT NULL,
	[procenatZarade] [int] NOT NULL,
	[procenatTroska] [int] NOT NULL,
 CONSTRAINT [PK__Dim_Film__3213E83FC5056B9F] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Grad]    Script Date: 22. 12. 2020. 17:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Grad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ime] [varchar](100) NOT NULL,
	[postanskiBroj] [int] NOT NULL,
	[pozivniBroj] [tinyint] NOT NULL,
	[brojStanovnika] [int] NOT NULL,
	[datumOtvorenja] [date] NOT NULL,
 CONSTRAINT [PK_Dim_Grad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Karta]    Script Date: 22. 12. 2020. 17:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Karta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cijena] [int] NOT NULL,
	[jeIskoristena] [bit] NOT NULL,
	[sala] [varchar](20) NOT NULL,
	[jeNocnaProjekacija] [bit] NOT NULL,
	[jeRezervisana] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Kino]    Script Date: 22. 12. 2020. 17:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Kino](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[vrijemeOtvaranja] [int] NOT NULL,
	[vrijemeZatvaranja] [int] NOT NULL,
	[brojSala] [int] NOT NULL,
 CONSTRAINT [PK_Dim_Kino] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_KinoRating]    Script Date: 22. 12. 2020. 17:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_KinoRating](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ocjenaKina] [int] NOT NULL,
	[ocjenaUsluge] [int] NOT NULL,
	[ukupnoGlasova] [int] NOT NULL,
 CONSTRAINT [PK_Dim_KinoRating] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Prodaja]    Script Date: 22. 12. 2020. 17:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Prodaja](
	[id] [int] NOT NULL,
	[ukupnoProdanoKarti] [int] NOT NULL,
	[ukupnoIzdatoRacuna] [int] NOT NULL,
	[ukupnoNarudzbi] [int] NOT NULL,
	[zaradaKarte] [float] NOT NULL,
	[zaradaNarudzbe] [float] NOT NULL,
	[troskoviZaFilmove] [float] NOT NULL,
	[ukupnoKupljenihFilmova] [int] NOT NULL,
	[brojNeiskoristenihKarti] [int] NOT NULL,
	[salaSaNajvecomPosjecenosti] [smallint] NOT NULL,
	[prosjecnoNarudzbiPoOsobi] [int] NOT NULL,
	[ukupnoRezervacija] [int] NOT NULL,
	[ukupnoUnikatnihRezervacija] [int] NOT NULL,
	[ukupnoUnaprijedPlacenihRezervacija] [int] NOT NULL,
	[prihodOdRezervacija] [float] NOT NULL,
	[najceseciTipRezervacije] [tinyint] NOT NULL,
	[filmSaNajviseRezervacija] [int] NOT NULL,
	[najcesciTipNarudzbe] [int] NOT NULL,
	[najcesciTipPlacanja] [int] NOT NULL,
	[najrjedjiTipRezervacije] [int] NOT NULL,
	[najrjedjiTipPlacanja] [int] NOT NULL,
	[najrjedjiTipNarudzbe] [int] NOT NULL,
 CONSTRAINT [PK_Dim_Statistika] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Rating]    Script Date: 22. 12. 2020. 17:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Rating](
	[id] [int] NOT NULL,
	[ocjenaKina] [int] NOT NULL,
	[ocjenaUsluge] [int] NOT NULL,
	[ukupnoGlasova] [int] NOT NULL,
 CONSTRAINT [PK_Dim_Rating] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Sala]    Script Date: 22. 12. 2020. 17:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Sala](
	[id] [int] NOT NULL,
	[najveciKapacitet] [int] NOT NULL,
	[najmanjiKapacitet] [int] NOT NULL,
	[najvecaPosjecenost] [int] NOT NULL,
	[najmanjaPosjecenost] [int] NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Kino]    Script Date: 22. 12. 2020. 17:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Kino](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[gradKey] [int] NOT NULL,
	[prodajaKey] [int] NOT NULL,
	[ratingKey] [int] NOT NULL,
	[salaKey] [int] NOT NULL,
	[aktivnoOd] [date] NOT NULL,
	[vrijemeOtovaranja] [int] NOT NULL,
	[vrijemeZatvaranja] [int] NOT NULL,
	[radnoVrijemeUSatima] [int] NOT NULL,
 CONSTRAINT [PK_Fact_Kino] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Racun]    Script Date: 22. 12. 2020. 17:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Racun](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kartaId] [int] NOT NULL,
	[datumId] [int] NOT NULL,
	[korisnikId] [int] NOT NULL,
	[kinoId] [nchar](10) NOT NULL,
	[filmId] [int] NOT NULL,
	[tipPlacanjaSifra] [nchar](32) NOT NULL,
	[tipPlacanjaNaziv] [varchar](64) NOT NULL,
	[ukupnaCijenaNarudzbi] [int] NOT NULL,
	[cijenaKarte] [int] NOT NULL,
	[ukupnaCijena] [int] NOT NULL,
 CONSTRAINT [PK_Fact_Racun] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Fact_Kino]  WITH CHECK ADD  CONSTRAINT [FK_FactKino_DimGrad] FOREIGN KEY([gradKey])
REFERENCES [dbo].[Dim_Grad] ([id])
GO
ALTER TABLE [dbo].[Fact_Kino] CHECK CONSTRAINT [FK_FactKino_DimGrad]
GO
ALTER TABLE [dbo].[Fact_Kino]  WITH CHECK ADD  CONSTRAINT [FK_FactKino_DimKinoRating] FOREIGN KEY([ratingKey])
REFERENCES [dbo].[Dim_KinoRating] ([id])
GO
ALTER TABLE [dbo].[Fact_Kino] CHECK CONSTRAINT [FK_FactKino_DimKinoRating]
GO
ALTER TABLE [dbo].[Fact_Kino]  WITH CHECK ADD  CONSTRAINT [FK_FactKino_DimProdaja] FOREIGN KEY([prodajaKey])
REFERENCES [dbo].[Dim_Prodaja] ([id])
GO
ALTER TABLE [dbo].[Fact_Kino] CHECK CONSTRAINT [FK_FactKino_DimProdaja]
GO
ALTER TABLE [dbo].[Fact_Kino]  WITH CHECK ADD  CONSTRAINT [fk_FactKino_DimSala] FOREIGN KEY([salaKey])
REFERENCES [dbo].[Dim_Sala] ([id])
GO
ALTER TABLE [dbo].[Fact_Kino] CHECK CONSTRAINT [fk_FactKino_DimSala]
GO
ALTER TABLE [dbo].[Fact_Racun]  WITH CHECK ADD  CONSTRAINT [FK_FactRacun_DimDatum] FOREIGN KEY([datumId])
REFERENCES [dbo].[Dim_Datum] ([id])
GO
ALTER TABLE [dbo].[Fact_Racun] CHECK CONSTRAINT [FK_FactRacun_DimDatum]
GO
ALTER TABLE [dbo].[Fact_Racun]  WITH CHECK ADD  CONSTRAINT [FK_FactRacun_DimKarta] FOREIGN KEY([kartaId])
REFERENCES [dbo].[Dim_Karta] ([id])
GO
ALTER TABLE [dbo].[Fact_Racun] CHECK CONSTRAINT [FK_FactRacun_DimKarta]
GO
ALTER TABLE [dbo].[Fact_Racun]  WITH CHECK ADD  CONSTRAINT [FK_Racun_Film] FOREIGN KEY([filmId])
REFERENCES [dbo].[Dim_Film] ([id])
GO
ALTER TABLE [dbo].[Fact_Racun] CHECK CONSTRAINT [FK_Racun_Film]
GO
